/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '@fortawesome/fontawesome-free/css/all.css';
/*OverlayScrollbars*/
@import 'overlayscrollbars/css/OverlayScrollbars.css';
/*iCheck*/
/*@import '../../node_modules/icheck-bootstrap/icheck-bootstrap.css';*/
@import 'icheck-bootstrap';
/*AdminLTE*/
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
/*Bootstrap*/
/*Already imported by AdminLTE*/
/*@import 'bootstrap';*/

.non-button, .non-button:hover, .non-button:focus, .non-button:active, .non-button:focus:active {
    cursor: default !important;
    background-color: #007bff !important;
    box-shadow: none;
    outline: none;
}

.non-button .badge-light {
    color: #007bff;
}
